# TODO actualizar a 'lab'
LOCAL_DOMAIN = lan
LAB_DNS_IPADDR = 192.168.0.2
MQTT_TLS_BROKER_CN = secure.mqtt.lab

MIRAI_CNC_IPADDR = 192.168.0.100
MIRAI_REPORT_IPADDR = 192.168.0.101
MIRAI_WGET_LOADER_IPADDR = 192.168.0.102
MIRAI_DB_USERNAME = muser
MIRAI_DB_PASSWORD = mpass

# TODO ahora target merlin depende de este .config? testear
MERLIN_RELEASE_VER = v1.2.1

